:root {
    --blue: #377fcd;
    --green: #39ab39;
    --green-light: #95c99c;
    --inner-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --bg: rgb(238, 238, 238);
    --card: rgb(211, 211, 211);
    --gutter: 20px;
    --card-padding: 15px;
    --interactable-border: 1px solid #000000;
    --interactable-border-focus: 1px solid var(--blue);
}
html {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
}
body {
    background: var(--bg);
    margin: var(--gutter);
    margin-top: 0;
    margin-bottom: 0;
}
h1 {
    margin-bottom: 0;
}
h2 {
    margin: 0;
    margin-bottom: 10px;
}
input {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: var(--interactable-border);
    font-size: 1rem;
    box-shadow: var(--shadow);
}
input[type="number"] {
    width: calc(4ch + 10px);
    padding-right: 5px;
}
input:focus {
    border: var(--interactable-border-focus);
    outline: none;
    box-shadow: var(--inner-shadow);
}
button {
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    box-shadow: var(--shadow);
    border: none;
    color: #000000;
    transition: all 250ms ease-in-out;
}
button:active {
    box-shadow: var(--inner-shadow);
    transform: scale(0.95);
}
button:hover {
    cursor: pointer;
}
button.primary {
    border: 1px solid var(--green);
    color: #000000;
    background-color: var(--green-light);
}
button.primary:hover {
    background-color: var(--green);
    color: #ffffff;
}
.title-row {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title-row h2 {
    margin-bottom: 0;
}
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    justify-content: center;
}
@media only screen and (max-width: 1600px) {
    .main {
        justify-content: flex-start;
    }
}
.graph {
    width: 400px;
    height: 300px;
    background-color: #000000;
    margin-right: 20px;
    border-radius: 5px;
    resize: both;
    overflow: auto;
    margin-top: var(--gutter);
}
.inputs {
    flex: 1;
}
.simulations {
    width: 100%;
}
.card {
    margin-top: var(--gutter);
    background-color: var(--card);
    padding: var(--card-padding);
    border-radius: 5px;
    box-shadow: var(--shadow);
}
.form-group {
    display: flex;
    flex-direction: column;
    max-width: 10rem;
    margin-bottom: 1rem;
}
.with-unit {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: max-content;
}
.with-unit input {
    margin-right: 5px;
}
