:root {
    --blue: #377fcd;
    --green: #39ab39;
    --green-light: #54d365;
    --red: #dc3545;
    --text-light: #a4a4a4;
    --text-medium: #4a4a4a;
    --text-dark: #181818;
    --inner-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --bg: rgb(238, 238, 238);
    --card: rgb(211, 211, 211);
    --card-inactive: rgb(147, 147, 147);
    --gutter: 10px;
    --card-padding: 15px;
    --interactable-border: 1px solid #000000;
    --interactable-border-focus: 1px solid var(--blue);
}
html {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
}
body {
    background: var(--bg);
    margin: var(--gutter);
    margin-top: 0;
    margin-bottom: 0;
}
h1 {
    margin-bottom: 0;
}
h2 {
    margin: 0;
    margin-bottom: 10px;
}
input {
    padding: 10px !important;
    border-radius: 5px !important;
    border: var(--interactable-border) !important;
    font-size: 1rem !important;
    box-shadow: var(--shadow) !important;
}
input[type="number"] {
    width: calc(5ch + 10px);
    padding-right: 5px;
}
/* Hide arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus {
    border: var(--interactable-border-focus) !important;
    outline: none !important;
    box-shadow: var(--inner-shadow) !important;
}
button {
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    box-shadow: var(--shadow);
    border: none;
    color: #000000;
    transition: all 100ms ease-in-out;
}
.wrap {
    max-width: 100% !important;
    width: 100% !important;
}
button:active {
    box-shadow: var(--inner-shadow);
    transform: scale(0.95);
}
button:hover {
    cursor: pointer;
}
button.primary {
    color: #000000;
    background-color: var(--green-light);
}
button.secondary {
    border: 1px solid var(--green);
    color: #000000;
    background-color: transparent;
}
button.danger {
    color: var(--red);
    border: 1px solid var(--red);
}
button.primary:hover {
    background-color: var(--green);
    color: #ffffff;
}
button.secondary:hover {
    background-color: var(--green);
    color: #ffffff;
}
button.danger:hover {
    background-color: var(--red);
    color: #ffffff;
}
button[type="submit"] {
    width: 100%;
}
.tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.tabs button {
    background-color: var(--card);
    border-radius: 5px 5px 0 0;
    margin: 0;
    border: none;
    box-shadow: none;
}
.tabs button.active {
    background-color: white;
}
.title-row {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.title-row h2 {
    margin-bottom: 0;
}
.app-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1024px;
}
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.row > * {
    margin: var(--gutter);
}
@media only screen and (max-width: 1600px) {
    .main {
        justify-content: flex-start;
    }
}
.graph {
    padding: 10px;
    background-color: #ffffff;
    height: 400px;
    min-width: 300px;
    border-radius: 5px;
    border-top-left-radius: 0;
    box-shadow: var(--shadow);
}
.graph-container {
    margin-bottom: var(--gutter);
}
.inputs {
    flex: 1;
    min-width: 250px;
}
.simulations {
    width: 100%;
}
.details {
    margin-top: var(--gutter);
    height: 100%;
}
.vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.data-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
}
.data-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 60px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -30px;
}
.data-point-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 10px 0;
}
.data-label {
    text-transform: uppercase;
    color: var(--text-medium);
    letter-spacing: 0.1em;
    text-align: center;
}
.data-value {
    font-size: 3rem;
    color: var(--blue);
    margin: 0;
    white-space: nowrap;
}
.data-unit {
    font-size: 2rem;
}
.card {
    background-color: white;
    padding: var(--card-padding);
    border-radius: 5px;
    box-shadow: var(--shadow);
}
.card form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.form-group {
    display: flex;
    flex-direction: column;
    max-width: 9rem;
    width: 9rem;
    margin-bottom: 1rem;
}
.form-group.checkbox {
    flex-direction: row;
}
.form-group.checkbox input {
    margin-right: 10px;
}
.with-unit {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: max-content;
}
.with-unit input {
    margin-right: 5px;
}
.presets-container {
    margin-left: calc(-1 * var(--card-padding));
    margin-right: calc(-1 * var(--card-padding));
    margin-bottom: calc(-1 * var(--card-padding));
}
.presets-container > * {
    border-top: 1px solid var(--text-light);
}
.presets-container > *:last-child {
    border-bottom: 1px solid var(--text-light);
}
.preset {
    color: var(--text-medium);
    padding-left: var(--card-padding);
    padding-right: var(--card-padding);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.preset button {
    margin: auto 0;
}
.preset-value {
    font-weight: bold;
    color: var(--text-dark);
}
.preset-value-container {
    margin-right: 2rem;
    margin-bottom: 3px;
    display: inline-block;
}
.preset-value-container:first-child {
    margin-top: 6px;
}
.preset-value-container:last-child {
    margin-bottom: 6px;
}
.button-container {
    height: min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.button-container > *:first-child {
    margin-right: 10px;
}
.loading-text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.loading-text p {
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}
